ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background:linear-gradient(117deg, #00000012, #0f0e0eb3);
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 100;
  }


li {
    float: left;
    font-family: auto;
    font-size: 19px;
    color: white;
    font-weight: bold;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }